.header{
    padding: 5px 10px;
    background-color: #a18f68;
}

.nav_image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 10%;
    img{
        max-width: 100%; /* 图片宽度最大为父容器的宽度 */
        height: auto; 
        
    }
}
// align-items: flex-end;
nav{
    border-bottom: 1px solid gray;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly; 
}
.nav-item{
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    // justify-content: center; /* 水平置中 */
    // align-items: flex-end;
    margin-top: auto;
    a{
        padding: 0rem 0.3rem;
        padding-bottom: 0;
        font-size: 14px; /* 設置字體大小為 16 像素 */
        font-weight: bold;
        color: black;
        margin-left: auto;
        margin-right: 2px;
        
        &:hover{
            color: #a18f68;
        }
        
    }
}
.justify-content-end{
    margin-left: auto;
}
footer{
    color: #ffffff;
    background-color: black;
    font-size: 0.9em;
    li{
        a{
            color: #ffffff;
            &:hover{
                color: #ffffff;
                border-bottom: 1px solid #ffffff;
            }
        }
        
    }
    .container {
        letter-spacing: 0.5px;
        
        
        li {
            list-style: none;
            /* 移除列表符號或數字 */
        }
    }
    p{
        margin-bottom: 0;

    }
    .footer_title{
        border-bottom: 1px solid #424242;;
    }
    .small{
        color: #8b8b8b;
        font-size: 0.6rem;
    }
    .copyright{
        font-size: 0.4rem;
    }
    .footer_phone{
        display: none;
    }
}

.nav-item.dropdown {
  .nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;


    .dropdown-item {
      // 自訂 dropdown-item 的樣式
      margin-right: 10px; // 調整項目之間的間距
    }
  }
}


@media screen and (max-width: 768px) {




    .footer_phone {
            display: flex;
        }
    .container{
        .col-lg{
            display: none;
        }
    }


}